.vs/
ConsoleApplication2/Debug/
ConsoleApplication2/x64/Debug/_IsIncrementalBuild
ConsoleApplication2/x64/Release/_IsIncrementalBuild
ConsoleApplication2/SDL2.dll
ConsoleApplication2/x64/Debug/vc143.idb
ConsoleApplication2/x64/Debug/vc143.pdb
ConsoleApplication2/x64/Release/ConsoleApplication2.ipdb
ConsoleApplication2/x64/Release/vc143.pdb
Debug/ConsoleApplication2.pdb
x64/Debug/ConsoleApplication2.pdb
x64/Release/ConsoleApplication2.pdb
x64/Debug/SKC_SDL_GE.pdb
x64/Debug/SDL2.dll
ConsoleApplication2/x64/Release/
x64/Release/
ConsoleApplication2/assets/

*.tlog
*.recipe
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.log
*.ilk
*.obj.enc
*.ibd
*.obj
*.pbd
*.iobj
*.ipbd
*.exe
*.sln
*.lvl
